html, body {
  min-height: 100%;
  height: 100%;
}

#root {
  display: flex;
  justify-content: center;
  flex-direction: column;
  min-height: 100%;
}

.App {
  min-height: 100%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*************************/
body {
  background: #3fafd7 !important;
}

p {
  margin-bottom: 0 !important;
}

.form {
  max-width: 500px;
  margin: 30px auto;
}

.form.lg {
  max-width: 1200px;
}

.card {
  text-align: center;
  padding: 30px;
  box-shadow: 0 0 10px 0 rgba(0,0,0,0.2);
}

.card label {
  display: block;
  text-align: left;
}

.btn {
  min-width: 180px;
}

.btn a {
  color: #fff;
}

.btn a {
  color: #fff;
}

.inline .btn {
  min-width: inherit;
}